.font-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:#cbc8c8 ;
  }
   .table{
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height:  72vh;
    background-color: rgb(212, 212, 45);
    display: block;
  }
/* Track */
::-webkit-scrollbar-track {
  background: #a92b2b;
}
.app{
  overflow-y: hidden;
}