@font-face {
  font-family:'D-DINExp' sans-serif;
  src:url('./assets/fonts/D-DINExp.otf'), format('otf');
  src:url('./assets/fonts/D-DINExp-Bold.otf'), format('otf');
}

body {
  margin: 0;
  font-family: 'D-DINExp' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
